<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619144667527-kanigdk0naca5jt75mad115gcrvja01a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619144667527-kanigdk0naca5jt75mad115gcrvja01a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619144667527-1j1u6593ji5parogqislk8kqdllocfkb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAy-HI68k07KKaW4S2Fo9f9H_OJahDkf2U</string>
	<key>GCM_SENDER_ID</key>
	<string>619144667527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iseneca.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>isenafirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>isenafirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619144667527:ios:6e71d6eca8b88a80053322</string>
</dict>
</plist>